@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-brandColor: #3B03A9;
    --color-darkBg: #00000c;
    --color-darkText: #f4f4f4;
}

* {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #ededed;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5;
}

/* Dark mode overrides */
.dark ::-webkit-scrollbar-track {
    background: #202020;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}
